/Entrada_de_dados_Scanner.class
/Entrada_de_dados_Scanner_2.class
/Main.class
/Processamento_casting.class
/Tipos_Print.class
/exercicio_fixacao_01.class
/exercicio_fixacao_02.class
/exercicio_fixacao_03.class
/funcoes_matematicas.class
/operadores_atribuição_acumulativa.class
/funcoes_aritimeticas.class
/declaracao_de_variaveis.class
